<p id="notice"><%= notice %></p>

<p>
  <b>Dowcip:</b>
  <%= @fortune.quotation %>
</p>

<p>
  <b>Przeslal:</b>
  <%= @fortune.source %>
</p>


<%= link_to 'Edit', edit_fortune_path(@fortune) %> |
<%= link_to 'Back', fortunes_path %>
